body{
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji", sans-serif;
}

h1{
    text-align: center;
}

.contents-entry{
    margin: 15px;
    padding: 15px;
}