{% extends 'westaway/layout.html' %}

{% block body %}

<p>This app is used as a log of all the times I've been to see West Didsbury & Chorlton AFC play. The intention was mostly as a reminder for myself and an opportunity to learn how to use Django but if anyone else stumbles upon this then I hope you enjoy it.</p>
    
<p>If I remember rightly, the first season I saw a West game was 2017/18 but it could have been 2018/19. I was definitely watching by the time City of Liverpool won the league and West were relegated. Many home games from that time though to 2023/24 are missing.</p>

<p>I'm casually making some additional changes to this site to make it a little easier to use (mostly for myself) but please don't judge me on my graphic design.</p>

{% for entry in entries %}
<a class="entry-link" href="{% url 'westaway:entry' entry.id %}">
<div class="{% if entry.home %}entry-home{% else %}entry-away{% endif %}">
    <p><ul>
        <li>{{entry.opponent}}</li>
        <li>{{entry.competition.competition}}</li>
        <li>{{entry.date}}</li>
    </ul></p>
</div>
</a>
{% endfor %}

{% endblock %}