{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width="device-width">
      <link href="{% static '/westaway/styles.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>
            West Away
        </title>
    </head>
    <body>


       <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'westaway:index' %}">West Away</a>
            <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--  <span class="navbar-toggler-icon"></span>-->
            <!--</button>-->
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'westaway:create' %}">Create <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'westaway:mostvisited' %}">Most visited<span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>


        {% block body %}
        {% endblock %}
    </body>
</html>