 .entry {
    border-radius: 10px;
    background-color: #ebf3ff;
    box-shadow: #61738d 0px 2px 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.entry-link:hover {
    text-decoration: none;
}

.entry:hover {
    background-color: #cceeea;
    color: black;
    text-decoration: none;
    
}

.entry:active {
    box-shadow: #d33bad 0px 2px 10px;
}

.entry ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.entry ul li:first-child {
    font-weight: bold;
}

.entry-header, .entry-sub-header {
    text-align: center;
}

/* This is just a comment for testing. */

.text-div {
    padding:5px;
    margin:5px;
    border: solid #CFCFCF;
    box-shadow: 2px 3px #AAAAAA;
}

.image-div {
    text-align: center;
}
