.entry-home, .entry-away {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
 
.entry-home {    
    background-color: #ffffff;
    box-shadow: #61738d 0px 2px 10px;
    color: black;
}

.entry-away {    
    background-color: #FACFEB;
    box-shadow: #61738d 0px 2px 10px;
    color: black;
}

.entry-home:hover, .entry-away:hover{
    text-decoration: none; 
}

.entry-home:hover {
    background-color: #000000;
    color: white;
}

.entry-away:hover {
    background-color: #2F5086;
    color: white;
}

.entry-home:active {
    box-shadow: #ffffff 0px 2px 10px;
}

.entry-away:active {
    box-shadow: #d33bad 0px 2px 10px;
}

.entry-home ul, .entry-away ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.entry-home ul li:first-child, .entry-away ul li:first-child {
    font-weight: bold;
}

.entry-link:hover {
    text-decoration: none;
}

.entry-header, .entry-sub-header {
    text-align: center;
}

.text-div {
    padding:5px;
    margin:5px;
    border: solid #CFCFCF;
    box-shadow: 2px 3px #AAAAAA;
}

.image-div {
    text-align: center;
}

.errorheader, .errormessage{
    text-align: center;
}

h1{
    text-align: center;
}

.contents-entry{
    margin: 15px;
    padding: 15px;
}

body{
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji", sans-serif;
}
